@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl font-bold
    }
    h2 {
        @apply text-2xl font-bold
    }
    h3 {
        @apply text-xl font-bold
    }
    h4 {
        @apply text-lg font-bold
    }
    h5 {
        @apply text-base font-bold
    }
}

@font-face {
    font-family: 'LPMQ-IsepMisbah';
    src: url(../fonts/LPMQ-IsepMisbah.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Awal-Ramadhan';
    src: url(../fonts/Awal-Ramadhan.ttf);
}

.tag-item {
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}